modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["npm", "run", "build"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

run = "npm run dev"

[[ports]]
localPort = 5173
externalPort = 80
